html {
    min-height: 100%
}

body {
    border: 2px solid black;
    height: 21em;
    max-width: 50%;
    border-radius: 2%;
    background: linear-gradient(to right, #B1E1FF, #A7FFE4, #B1B2FF);
}

#merge {
    height: 100%;
    background-color: #dcc7f8;
    border-radius: 2%;

}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding-top: 1em;
    margin: 0;
}


p {
    text-align: center;
    font-size: 25px;
    max-height: 10%;
}

#pContainer {
overflow: hidden;
height: 5em;
}

#clear {
    margin-top: 2em;
}

button {
    width: 6em;
    height: 2em;
    margin: 0.35em;
    margin-top: 1em;
}

.buttonDown {
    background-color: black;
    color: white;
    border-radius: 10%;
}


.boldEffect {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underlineEffect {
    text-decoration: underline;
}

.upsideDown {
  transform: rotate(180deg);
}

.danger {
    color: red;
}

.aqua {
color: blue;
}

.go {
    color: green;
}