html {
    min-height: 100%
}

body {
    position: center center;
    border: 2px solid black;
    height: 20em;
    max-width: 40%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-content: space-evenly;
    flex-basis: 50%;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

.clear {
    justify-content: center;
    margin-top: 3em;
}

button {
    width: 6em;
    height: 2em;
    margin: 0.35em;
}
